In [1]:
import pandas as pd

In [7]:
walks = pd.read_csv("CSV-Files/Crosswalks.csv")

Example of what the data looks like in the csv file

In [9]:
walks.head()

,_id,id,type,street,inactive,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,1,1559483633,Crosswalk - Other,ELEVENTH ST,f,Central Business District,6.0,2.0,42003020100,6.0,2.0,2.0,2-3,40.444989,-79.993884
1,2,785965942,Crosswalk - Two Lined,PENN AVE,f,Strip District,7.0,2.0,42003020300,6.0,2.0,2.0,2-3,40.445717,-79.992465
2,3,2008474459,Crosswalk - Two Lined,MORNINGSIDE AVE,f,Morningside,7.0,10.0,42003101400,2.0,10.0,5.0,3-7,40.479579,-79.930685
3,4,1207933462,Crosswalk - Two Lined,TECH ST,f,Squirrel Hill North,8.0,14.0,42003140100,3.0,14.0,4.0,2-8,40.440528,-79.942126
4,5,905740180,Crosswalk - Two Lined,FREW ST,f,Squirrel Hill South,5.0,14.0,42003980500,3.0,14.0,4.0,2-8,40.440468,-79.942267

Filter out all inactive crosswalks.

In [15]:
walksActive = walks[walks["inactive"] != "t"]

In [24]:
crosswalkCounts = pd.DataFrame(walksActive['neighborhood'].value_counts())
crosswalkCounts.head()

                           count
neighborhood
Central Business District    402
South Side Flats             262
Squirrel Hill South          239
Bloomfield                   192
Shadyside                    190

In [26]:
crosswalkCounts = crosswalkCounts.sort_values(by='count', ascending=False)
crosswalkCounts

                           count
neighborhood
Central Business District    402
South Side Flats             262
Squirrel Hill South          239
Bloomfield                   192
Shadyside                    190
...                          ...
Fineview                       3
Summer Hill                    3
Chartiers City                 1
St. Clair                      1
New Homestead                  1

[88 rows x 1 columns]

## Conclusion

The Central Business District has the most crosswalks in it. This is not surprising due to the nature of a business district being walkability and ease of access to buildings. Due to this information I decided not to include the Central Business District in the final data. Another reason for this choice was that people don't neccesarrily live there. This means by the submetric of Crosswalks, South Side Flats is the best neighbourhood, followed